/*---------------------------------------
    ## Button
---------------------------------------*/

.btn-wrapper {
    display: block;
    .cmn-btn {
        color: var(--paragraph-color);
        font-size: 16px;
        font-weight: 500;
        font-family: var(--body-font);
        display: inline-block;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        line-height: 34px;
        padding: 10px 35px;
        @include transition($transition);
        @include responsive(xs) {
            padding: 10px 25px;
            font-size: 15px;
            line-height: 28px;
        }
        @include responsive(vxxs) {
            padding: 5px 15px;
            font-size: 14px;
        }
        &-bg-1 {
            background: var(--main-color-one);
            color: $white;
            border: 2px solid var(--main-color-one);
            &:hover {
                background: none;
                color: var(--main-color-one);
            }
        }
        &-bg-2 {
            background: var(--main-color-two);
            color: $white;
            border: 2px solid var(--main-color-two);
            &:hover {
                background: none;
                color: var(--main-color-two);
            }
        }
        &-bg-3 {
            background: var(--main-color-three);
            color: $white;
            border: 2px solid var(--main-color-three);
            &:hover {
                background: none;
                color: var(--main-color-three);
            }
        }
        &-bg-4 {
            background: var(--main-color-four);
            color: $white;
            border: 2px solid var(--main-color-four);
            &:hover {
                background: none;
                color: var(--main-color-four);
            }
        }
        &-bg-5 {
            background: var(--main-color-five);
            color: #333;
            border: 2px solid var(--main-color-five);
            &:hover {
                background: none;
                color: var(--main-color-five);
            }
        }
        &-bg-white {
            background: $white;
            color: var(--heading-color);
            &:hover {
                background: var(--main-color-one);
                color: $white;
            }
            &.hover-bg-two {
                &:hover {
                    background: var(--main-color-two);
                    color: $white;
                }
            }
            &.hover-bg-three {
                &:hover {
                    background: var(--main-color-three);
                    color: $white;
                }
            }
            &.hover-bg-four {
                &:hover {
                    background: var(--main-color-four);
                    color: $white;
                }
            }
        }
        &-white {
            background-color: $white;
            border: 3px solid $white;
            &.color-one {
                color: var(--main-color-one);
                &:hover {
                    background: var(--main-color-one);
                    color: $white;
                }
            }
            &.color-two {
                color: var(--main-color-two);
                &:hover {
                    background: var(--main-color-two);
                    color: $white;
                }
            }
            &.color-three {
                color: var(--main-color-three);
                &:hover {
                    background: var(--main-color-three);
                    color: $white;
                }
            }
            &.color-four {
                color: var(--main-color-four);
                &:hover {
                    background: var(--main-color-four);
                    color: $white;
                }
            }
        }
        &-medium {
            padding: 7px 25px;
            @include responsive(vxxs) {
                padding: 5px 15px;
                font-size: 14px;
            }
        }
        &-small {
            padding: 5px 18px;
            @include responsive(vxxs) {
                padding: 5px 15px;
                font-size: 14px;
            }
        }
        &.extra-width {
            width: 220px;
        }
        &-bg-heading {
            background: var(--heading-color);
            color: $white;
        }
        &-bg-steam {
            background: $steam-color;
            color: var(--heading-color);
        }
        &.btn-border {
            border: 1px solid #ddd;
        }
        &-outline-steam {
            border: 2px solid $steam-color;
            color: var(--heading-color);
            &:hover {
                background: $steam-color;
                color: $white;
            }
        }
        &-outline-one {
            padding: 7px 35px;
            border: 2px solid var(--main-color-one);
            &.color-one {
                color: var(--main-color-one);
            }
            &:hover {
                background: var(--main-color-one);
                color: $white;
            }
        }
        &-outline-two {
            padding: 7px 35px;
            border: 2px solid var(--main-color-two);
            &.color-two {
                color: var(--main-color-two);
            }
            &:hover {
                background: var(--main-color-two);
                color: $white;
            }
        }
        &-outline-three {
            padding: 7px 35px;
            border: 2px solid var(--main-color-three);
            &.color-three {
                color: var(--main-color-three);
            }
            &:hover {
                background: var(--main-color-three);
                color: $white;
            }
        }
        &-outline-four {
            padding: 7px 35px;
            border: 2px solid var(--main-color-four);
            &.color-four {
                color: var(--main-color-four);
            }
            &:hover {
                background: var(--main-color-four);
                color: $white;
            }
        }
    }
}

.shop-now-btn {
    display: inline-block;
    font-weight: 500;
    color: var(--heading-color);
    @include transition(300ms);
    position: relative;
    &:hover {
        color: var(--main-color-three);
        &.shop-now-border {
            &::before {
                width: 100%;
                background-color: var(--main-color-three);
            }
        }
    }
    &.shop-now-border {
        padding-bottom: 7px;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            background: var(--heading-color);
            height: 2px;
            width: 50%;
            @include transition(300ms);
        }
    }
}

.btn-buy {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
    @include transition(300ms);
    @include responsive(allPhone) {
        font-size: 16px;
        margin-top: 10px;
    }
    @include responsive(vxxs) {
        margin-top: 10px;
    }
    &:hover {
        text-decoration: underline;
        &.icon {
            &::before {
                text-decoration: none;
                display: inherit;
            }
        }
    }
    &.icon {
        &::before {
            content: "\f290";
            font-family: "font Awesome 5 Free";
            font-weight: 900;
            font-size: 16px;
            margin-right: 5px;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            text-decoration: none;
        }
    }
    &.btn-color-two {
        color: var(--main-color-two);
    }
    &.btn-color-three {
        color: var(--main-color-three);
    }
    &.btn-color-four {
        color: var(--main-color-four);
    }
}

.btn-color-one {
    color: var(--main-color-one);
    &:hover {
        color: var(--main-color-one);
    }
}

.home-21 {
    .btn-wrapper {
        .cmn-btn {
            font-family: var(--body-font-home-21);
        }
    }
}

.submit-style {
    border: 2px solid var(--main-color-two);
    background-color: var(--main-color-two);
    color: $white;
    padding: 12px 20px;
}