/* Discount Css */

.discount-padding {
    padding: 10px 20px;
}

.discount-card {
    &:hover {
        .global-card-thumb {
            .global-card-thumb-icons {
                bottom: 50%;
                @include transform(translateY(-50%));
            }
        }
    }
    .global-card-thumb {
        img {}
    }
    .global-card-thumb-icons {
        bottom: 100px;
        @include transition(500ms);
    }
}

.discount-timer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 20px;
    z-index: 95;
    .global-timer {
        .syotimer__body {
            gap: 10px 15px;
            justify-content: space-between;
            @include responsive(xxl) {
                gap: 10px;
            }
            @include responsive(xl) {
                gap: 10px;
            }
            @include responsive(lg) {
                gap: 10px;
            }
            @include responsive(allPhone) {
                gap: 10px;
            }
            .syotimer-cell {
                .syotimer-cell__value {
                    font-size: 32px;
                    line-height: 36px;
                    @include responsive(xxl) {
                        font-size: 28px;
                    }
                    @include responsive(xl) {
                        font-size: 28px;
                    }
                    @include responsive(lg) {
                        font-size: 28px;
                    }
                    @include responsive(allPhone) {
                        font-size: 28px;
                    }
                }
                .syotimer-cell__unit {
                    font-size: 18px;
                    line-height: 28px;
                    @include responsive(xxl) {
                        font-size: 16px;
                    }
                    @include responsive(xl) {
                        font-size: 16px;
                    }
                    @include responsive(lg) {
                        font-size: 16px;
                    }
                    @include responsive(allPhone) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}